@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left-side{

position: relative;
background: #003147;
padding: 40px;
}

.container .right-side{

    position: relative;
    background: #fff ;
    padding: 40px;
    }


    .about{
        margin-bottom: 50px;
        
    }
    .about:last-child{
        margin-bottom: 0;
    }

    .title2{
        color: #d2e9f4;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;

    }
    p{

        color: #f5efef;
    }